imports:
    - "tests/Behat/Resources/config/suites.yml"

default:
    extensions:
        FriendsOfBehat\ContextServiceExtension:
            imports:
                - "tests/Behat/Resources/config/services.xml"
